<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.bolar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".tenantmain.TenantStripeTest"></activity>
        <activity android:name=".companyMain.WebviewStripeCompany" />
        <activity android:name=".companyMain.CompanyHome" />
        <activity android:name=".tenantmain.New_Application" />
        <activity android:name=".ScoreBreakdown.PayHistBreakdown" />
        <activity android:name=".ScoreBreakdown.MarksBreakdown" />
        <activity android:name=".ScoreBreakdown.DurationBreakdown" />
        <activity android:name=".ScoreBreakdown.AgeBreakdown" />
        <activity android:name=".companyMain.BankSettingsCompany" />
        <activity android:name=".signupflow.InitialPrompt" />
        <activity android:name=".signupflow.CompanyInfo" />
        <activity android:name=".signupflow.APNnumber" />
        <activity android:name=".individuallandlordmain.IndividualHome" />
        <activity android:name=".tenantmain.TenantHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode, ocr" />

        <activity android:name=".signupflow.EmailPassword" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codepath.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".signupflow.Driver_License_Scan" />
        <activity android:name=".signupflow.Front_DL_Scan" />
        <activity android:name=".phoneverificationdraft.PhoneVerify" />
        <activity android:name=".phoneverificationdraft.PhoneVerificationCode" />
        <activity android:name=".signupflow.ConfirmationDetails" />
        <activity android:name=".signupflow.Phone" />
    </application>

</manifest>